*{
    margin: 0;
    padding: 0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
body{
    background: #efefef;
    color: #000000;
    min-width: 1000px;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.mainbox{
    width: 950px;
    margin: 0 auto;
}
header{
    width: 100%;
    min-width: 1000px;
    height: 100px;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    width: 150px;
}
.logo span{
    font-size: 30px;
    font-weight: 600;
    margin-right: 5px;
}
.logo span.rs{
    color: #e8676b;
}
.logo span.card{
    color: #9a9da2 !important;
}
.mynav{
    width: 700px;
}
.mynav ul{
    list-style: none;
}
.mynav ul li{
    width: 100px;
    float: left;
    height: 40px;
    padding: 5px;
}
.mynav ul li a{
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    color: #b7b7b7;
}
.mynav ul li a:hover{
    border-bottom: 2px solid #e8676b
}
.banner{
    width: 100%;
    min-width: 1000px;
    height: 515px;
    background-image: url('../img/banner.jpg');
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    background-color: rgba(0, 0, 0, 0.8);
    height: 515px;
}
main{
    width: 940px;
    /* height: 700px; */
    display: block;
    margin: -350px auto 0 auto;
    background: #ffffff;
    color: #000000;
}
.maincontent{
    width: 940px;
    padding: 50px 50px 30px;
}
.photo,.photo img{
    width: 295px;
    height: 318px;
}
.userInfo{
    width: 450px;
    margin: 0 0 0 50px;
    font-size: 16px;
}
.userInfo .hello{
    background: #e6686a;
    color: white;
    display: inline-block;
    position: relative;
    padding: 4px 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.userInfo .hello .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.userInfo h1{
    margin-top: 20px;
}
.userInfo hr{
    margin: 20px auto;
}
.userInfo dt{
    width: 30%;
    float: left;
    font-weight: bold;
    line-height: 35px;
}
.userInfo dd{
    width:70%;
    float: left;
    color: #9da0a7;
    line-height: 35px;
}
main footer{
    width: 100%;
    background: #E6686A;
}
main footer .socLinks{
    text-align: center;
}
main footer .socLinks a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
main footer .socLinks a:hover{
    background: #CF5D7D;
}
main footer .socLinks svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.downloadResumeWrap{
    text-align: center;
}
.downloadResume{
    width: 200px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #cdcfd1;
    font-size: 14px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px auto;
    transition: box-shadow 0.3s;
}
.downloadResume:hover{
    box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.28);
}
p.intro{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: kai;
    font-size:18px;
    line-height: 30px;
}
.skillBox,.portfolio{
    width: 940px;
    margin: 0 auto;
}
.skillBox .hd,
.portfolio .hd{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin: 30px auto;  
}
.skillBox .skillsList{
    background: #ffffff;
    padding: 42px 50px 10px;
}
.skillsList > .skillItem{
    width: 48%;
    float: left;
}
.skillsList > .skillItem:nth-child(even){
    float: right;
}
.skillItem h3{
    font-size: 14px;
    line-height: 1.1;

}
.skillItem .progressBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
.skillItem .progressBar .progress{
    width: 50%;
    height: 5px;;
    background: #E6686A;
    border-radius: 2px;
}
.portfolio{
    text-align: center;
}
.portfolio > nav{
    display: inline-block;
}
.portfolio nav > ol{
    font-size:16px;
}
.portfolio nav > ol li{
    display: block;
    float: left;
    padding-left: 30px;
    cursor: pointer;
}
.portfolio nav > ol li:first-child{
    padding-left:0px;
}
.portfoliobar{
    width: 100%;
    height: 5px;
    background: #ffffff;
    border-radius: 2px;
    position: relative;
    margin: 10px auto 20px;
}
.portfoliobar .bar_inner{
    background: #e8676b;
    height: 5px;
    position: absolute;
    top: 0;
}
.portfoliobar.state1 .bar_inner{
    width: 40px;
    left: 0;
    border-radius: 2px;
}
.portfoliobar.state2 .bar_inner{
    width: 50px;
    left: 55px;
}
.portfoliobar.state3 .bar_inner{
    width: 100px;
    left: 119px;
}
.worksList{
    width: 940px;
    height: 576px;
    margin: 0 auto 50px auto;
    position: relative;
    /* border: 1px solid red; */
}
.worksList > div{
    position: absolute;
}
.worksList > div img{
    vertical-align: middle;
}
.worksList > div.works1{
    left: 0;
    top: 0;
}
.worksList > div.works2{
    left: 646px;
    top: 0;
}
.worksList > div.works3{
    left: 646px;
    top: 298px;
}